<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CCI" version="1.0.13" targetFramework="net45" />
  <package id="FluentSharp.CoreLib" version="4.4.2.0" targetFramework="net45" />
  <package id="FluentSharp.Roslyn" version="4.4.0.0" targetFramework="net45" />
  <package id="Roslyn" version="1.2.20906.2" targetFramework="net45" />
  <package id="Roslyn.Compilers" version="1.2.20906.2" targetFramework="net45" />
  <package id="Roslyn.Compilers.Common" version="1.2.20906.2" targetFramework="net45" />
  <package id="Roslyn.Compilers.CSharp" version="1.2.20906.2" targetFramework="net45" />
  <package id="Roslyn.Compilers.VisualBasic" version="1.2.20906.2" targetFramework="net45" />
  <package id="Roslyn.Services.Common" version="1.2.20906.2" targetFramework="net45" />
  <package id="Roslyn.Services.CSharp" version="1.2.20906.2" targetFramework="net45" />
  <package id="Roslyn.Services.VisualBasic" version="1.2.20906.2" targetFramework="net45" />
  <package id="RoslynHelper" version="1.0.1" targetFramework="net45" />
</packages>