<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PiotrTrzpil.VisualMutator_VSPackage.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.util" publicKeyToken="96D09A1EB7F44A77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.10.11092" newVersion="2.5.10.11092" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <PiotrTrzpil.VisualMutator_VSPackage.Properties.Settings>
      <setting name="MutationResultsFilePath" serializeAs="String">
        <value>C:\visualmutator-results.xml</value>
      </setting>
    </PiotrTrzpil.VisualMutator_VSPackage.Properties.Settings>
  </userSettings>
  <startup />
</configuration>