<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="nunit.util" publicKeyToken="96D09A1EB7F44A77" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.5.10.11092" newVersion="2.5.10.11092"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
