<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CCI" version="1.0.13" targetFramework="net45" />
  <package id="log4net" version="1.2.10" />
  <package id="Moq" version="4.0.10827" />
  <package id="Ninject" version="3.0.2-unstable-9" targetFramework="net45" />
  <package id="Ninject.Extensions.ContextPreservation" version="3.0.0.8" targetFramework="net45" />
  <package id="Ninject.Extensions.NamedScope" version="3.0.0.5" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net45" />
</packages>