<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="adjunct-JetBrains.Annotations.Core" version="1.0.0" targetFramework="net45" />
  <package id="CCI" version="1.0.13" targetFramework="net45" />
  <package id="log4net" version="1.2.10" targetFramework="net45" />
  <package id="PostSharp" version="3.0.38" targetFramework="net45" />
</packages>