<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="adjunct-JetBrains.Annotations.Core" version="1.0.0" targetFramework="net45" />
  <package id="log4net" version="1.2.10" targetFramework="net45" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net45" />
  <package id="Ninject.Extensions.ChildKernel" version="3.0.0.5" targetFramework="net45" />
  <package id="Ninject.Extensions.ContextPreservation" version="3.0.0.8" targetFramework="net45" />
  <package id="Ninject.Extensions.NamedScope" version="3.0.0.5" targetFramework="net45" />
  <package id="PostSharp" version="3.0.38" targetFramework="net45" />
  <package id="UsefulTools" version="0.9.1" targetFramework="net45" />
</packages>